* {
  box-sizing: border-box;
}
.App {
  display: flex;
  height: 100%;
}

.column-1,
.column-2 {
  margin: 2rem;
  height: 80vh;
  width: 90%;
  padding: 2rem;
  border-radius: 5px;

  background-color: #ffd;
}

.column-1 {
  border: 3px dotted black;
  text-decoration-thickness: 2px;
}

.column-2 {
  border: 1px solid black;
}

.draggable {
  cursor: pointer;
}

.card {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: cetner;
}
